### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Local persistence data and regression-test output
.test-build/
supermarket-data.dat
supermarket-data.dat.bak
supermarket-data.dat.tmp
supermarket-data.txt
supermarket-data.txt.bak
supermarket-data.lock
supermarket-data*.tmp
supermarket-data.damaged-*.txt
